/*

 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, address {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
li {
	list-style: none;
}
caption, th {
	text-align: left;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
legend {
	color: #000;
}
pre, code, kbd, samp, tt {
	font-family: monospace;
	line-height: 100%;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
@font-face {
	font-family: 'Lobster13Regular';
	src: url('Lobster_1.3-webfont.eot');
	src: url('Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'), url('Lobster_1.3-webfont.woff') format('woff'), url('Lobster_1.3-webfont.ttf') format('truetype'), url('Lobster_1.3-webfont.svg#Lobster13Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	background: #f5f0e0 url(../images/noise.png);
	font-family: Century Gothic, sans-serif;
	color: #252525;
	font-size: 14px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.10);
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 45px;
}
h3 {
	font-size: 40px;
}
h4 {
	font-size: 35px;
}
h5 {
	font-size: 30px;
}
h6 {
	font-size: 25px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lobster13Regular', cursive;
	color: #9c5959;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	font-weight: normal;
}
a {
	color: #9c5959;
	text-decoration: none;
	border-bottom: 1px dotted #9c5959;
}
.pikachoose a, #fancybox-close, .fancyimage {
	border-bottom: 0px dotted #9c5959;
}
.clear {
	clear: both;
}
.left {
	float: left;
	margin-right: 10px;
}
.right {
	float: right;
	margin-left: 10px;
}
.title {
	font-family: 'Lobster13Regular', cursive;
	font-size: 80px;
	float: left;
	-webkit-transition: all .20s ease-out;
	-moz-transition: all .20s ease-out;
	-o-transition: all .20s ease-out;
	-ms-transition: all .20s ease-out;
	transition: all .20s ease-out;
}
.title:hover {
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(156, 89, 89,.1), 0 0 5px rgba(156, 89, 89,.1), 0 1px 3px rgba(156, 89, 89,.3), 0 3px 5px rgba(156, 89, 89,.2), 0 5px 10px rgba(156, 89, 89,.25), 0 10px 10px rgba(156, 89, 89,.2), 0 20px 20px rgba(156, 89, 89,.15);
	-webkit-transition: all .20s ease-out;
	-moz-transition: all .20s ease-out;
	-o-transition: all .20s ease-out;
	-ms-transition: all .20s ease-out;
	transition: all .20s ease-out;
}
.tagline {
	font-family: 'Lobster13Regular', cursive;
	clear: both;
	font-size: 27px;
	float: left;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.10);
}
.intro {
	float: left;
	width: 500px;
}
.reservations {
	float: right;
	width: 200px;
	font-family: 'Lobster13Regular', cursive;
	font-size: 20px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.10);
	text-align: center;
	color: #9C5959;
}
.reservations-title {
	font-size: 27px;
}
.hr-solid {
	border: 0;
	border-bottom: 1px solid #9c5959;
	margin: 2px;
}
.hr-dashed {
	border: 0;
	border-bottom: 1px dotted #9c5959;
	margin: 2px;
}
.button {
	font-family: 'Lobster13Regular', cursive;
	color: #f5f5f5;
	padding: 8px 14px 10px;
	background-color: #9c5959;
	border: none;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	-moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	text-decoration: none;
	font-size: 20px;
}
.reservations .button {
	padding: 4px 47px 9px;
}
.button:active {
	position: relative;
	top: 3px;
	-webkit-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
	box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
}
.button:active:after {
	content: "";
	width: 100%;
	height: 3px;
	background: #fff;
	position: absolute;
	bottom: -1px;
	left: 0;
}
.date {
	float: left;
	position: relative;
	margin-right: 10px;
	padding: 44px 5px 0;
	color: #9c5959;
}
.date .month {
	text-transform: uppercase;
	font-size: 25px;
}
.date .day {
	font-size: 35px;
	line-height: 45px;
	position: absolute;
	left: 5px;
	top: 0;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.date .year {
	display: block;
	position: absolute;
	right: -5px;
	top: 15px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
#container {
	background: url(../images/bg.png) center top repeat-x;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
ul#nav {
	font-family: 'Lobster13Regular', cursive;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	font-size: 22px;
	letter-spacing: 1px;
}
ul#nav li {
	float: left;
	list-style: none;
}
ul#nav li a {
	letter-spacing: 2px;
	display: block;
	width: 95px;
	height: 85px;
	padding: 65px 0 0 0;
	margin: 0 32px 0 32px;
	color: #9c5959;
	text-decoration: none;
	background: url(../images/label.png) 0 -149px no-repeat;
	-webkit-transition: all .20s ease-out;
	-moz-transition: all .20s ease-out;
	-o-transition: all .20s ease-out;
	-ms-transition: all .20s ease-out;
	transition: all .20s ease-out;
	border-bottom: 0px dotted #9c5959;
}
ul#nav li a:hover, ul#nav li .current {
	background: url(../images/label.png) 0 0 no-repeat;
	color: #eee9d9;
	-webkit-transition: all .20s ease-out;
	-moz-transition: all .20s ease-out;
	-o-transition: all .20s ease-out;
	-ms-transition: all .20s ease-out;
	transition: all .20s ease-out;
}
.border {
	height: 3px;
	border-top: 1px solid #9c5959;
	border-bottom: 1px dashed #9c5959;
}
.border2 {
	height: 3px;
	clear: both;
	border-bottom: 1px solid #9c5959;
	border-top: 1px dashed #9c5959;
}
.border3 {
	height: 3px;
	clear: both;
	border-bottom: 1px dotted #9c5959;
}
.wrapper {
	margin-top: 30px;
}
p {
	font-size: 14px;
	font-family: Century Gothic, sans-serif;
	padding: 10px;
}
article {
	width: 630px;
	float: left;
	padding: 10px;
	border-right: 1px dashed #9c5959;
}
.fullwidth {
	border-right: 0px dashed #9c5959;
	width: 960px;
}
.sidebar {
	width: 280px;
	height: 100%;
	float: right;
	padding: 10px;
}
aside h3, .footer-widget h4 {
	text-align: center;
}
.home-widget, .footer-widget {
	width: 310px;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: left;
}
.content-widget, .content-menu {
	margin-right: 10px;
	margin-bottom: 50px;
}
.home-widget h3 {
	text-align: center;
	margin-bottom: 10px;
}
.content-widget h1, .content-menu h1 {
	text-align: center;
	margin-bottom: 10px;
}
.home-widget img {
	background: #9C5959;
	padding: 1px;
	margin-left: 4px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.50);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.50);
	box-shadow: 0 0 4px rgba(0,0,0,0.50);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.pikachoose img, article img, aside img {
	background: #9C5959;
	padding: 1px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.50);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.50);
	box-shadow: 0 0 4px rgba(0,0,0,0.50);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.noeffects {
	background: none;
	padding: 0;
	margin-left: 0;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.50);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.50);
	box-shadow: 0 0 0 rgba(0,0,0,0.50);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.content-widget img {
	float: right;
	padding: 10px;
	margin: 10px;
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.img-left {
	float: left;
	padding: 1px;
	margin-right: 10px;
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.img-right {
	float: right;
	padding: 1px;
	margin-left: 10px;
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#pricing-table {
	/* margin:  100px auto;
	 */
text-align: center; /*        width:  892px; /* total computed width = 222 x 3 + 226 */
}
#pricing-table .plan {
	font-size: 14px;
	background: rgba(255, 255, 255, 0.40);
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	float: left;
	position: relative;
	width: 267px;
	float: left;
	margin-right: 10px;
	margin-bottom: 50px;
}
#pricing-table #most-popular {
	z-index: 2;
	top: -13px;
	border-width: 3px;
	padding: 30px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	-moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
}
#pricing-table .plan:nth-child(1) {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
#pricing-table .plan:nth-child(4) {
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
/* ---------------*/
#pricing-table h3 {
	font-size: 35px;
	font-weight: normal;
	color: #fff;
	letter-spacing: 1px;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #9c5959;
	background-image: -webkit-linear-gradient(#d07a7a, #9c5959);
	background-image: -moz-linear-gradient(#d07a7a, #9c5959);
	background-image: -o-linear-gradient(#d07a7a, #9c5959);
	background-image: -ms-linear-gradient(#d07a7a, #9c5959);
	background-image: linear-gradient(#d07a7a, #9c5959);
	color: #f5f5f5;
	text-decoration: none;
}
#pricing-table #most-popular h3 {
	background-color: #ddd;
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: -moz-linear-gradient(#eee, #ddd);
	background-image: -o-linear-gradient(#eee, #ddd);
	background-image: -ms-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
 -image margin-top: -30px;
	padding-top: 30px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#pricing-table .plan h3 {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#pricing-table h3 span {
	display: block;
	font: bold 25px/100px Georgia, Serif;
	color: #9c5959;
	background: #fff;
	border: 2px solid #9c5959;
	height: 100px;
	width: 100px;
	margin: 10px auto -50px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}
/* ---------------*/
#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
#pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}
.menu-order, .star, .menu .item {
	margin-top: 15px;
}
.menu p {
	width: 420px;
}
.menu img {
	margin-bottom: 20px;
}
.gallery img {
	margin: 15px;
}
blockquote {
	background: transparent url(../images/blockquote.png) no-repeat 0px 30px;
	padding: 30px;
	font-style: italic;
}
blockquote span {
	font-weight: bold;
	clear: both;
	float: right;
	margin-top: 20px;
}
.blog {
	width: 305px;
	text-align: left;
	font-size: 14px;
	padding: 10px;
}
#social {
	text-align: center;
	padding: 10px;
}
iframe {
	border: 1px solid #9C5959;
	overflow: hidden;
	margin: 0;
}
label {
	font-size: 22px;
	font-family: 'Lobster13Regular', cursive;
	color: #9c5959;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	font-weight: normal;
	padding-bottom: 10px;
	padding-top: 10px;
}
input[type="text"], textarea {
	outline: none;
	background: #f5f0e0;
	border: 1px dotted #9C5959;
	font-size: 14px;
	padding: 3px;
}
input[type="text"] {
	width: 300px;
}
textarea {
	width: 400px;
	height: 200px;
}
input[type="text"]:active, input[type="text"]:focus {
	border: 1px dashed #9C5959;
}
textarea:active, textarea:focus {
	border: 1px dashed #9C5959;
}
/**
 * Remake of "HTML + CSS3 Icons" by Clay Cauley
 *
 * Inspiration was taken from: 
 * -http://designmoo.com/5368/html-css3-icons/
 */
a.s3d {
	clear: both;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
	display: inline-block !important;
	font: 700 13px/36px 'Arial', Helvetica, Clean, sans-serif;
	height: 26px;
	margin: 0 0 10px;
	padding: 0 10px 11px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .35);
	width: 200px;
}
a.twitter {
	background: #65acc8;
	background: -webkit-gradient(linear, 0 0, 0 0, from(#65acc8), to(#4586ae));
	background: -webkit-linear-gradient(, #65acc8, #4586ae);
	background: -moz-linear-gradient(, #65acc8, #4586ae);
	background: -o-linear-gradient(, #65acc8, #4586ae);
	background: -ms-linear-gradient(, #65acc8, #4586ae);
	background: linear-gradient(, #65acc8, #4586ae);
	border-top: 1px solid #a1cdde;
	color: rgba(25, 45, 55, .9);
}
a.twitter:active {
	background: #4586ae;
	background: -webkit-gradient(linear, 0 0, 0 0, from(#4586ae), to(#65acc8));
	background: -webkit-linear-gradient(, #4586ae, #65acc8);
	background: -moz-linear-gradient(, #4586ae, #65acc8);
	background: -o-linear-gradient(, #4586ae, #65acc8);
	background: -ms-linear-gradient(, #4586ae, #65acc8);
	background: linear-gradient(, #4586ae, #65acc8);
}
a.facebook {
	background: #4669ab;
	background: -webkit-gradient(linear, 0 0, 0 0, from(#4669ab), to(#304886));
	background: -webkit-linear-gradient(, #4669ab, #304886);
	background: -moz-linear-gradient(, #4669ab, #304886);
	background: -o-linear-gradient(, #4669ab, #304886);
	background: -ms-linear-gradient(, #4669ab, #304886);
	background: linear-gradient(, #4669ab, #304886);
	border-top: 1px solid #8ea4cd;
	color: rgba(21, 31, 53, 1);
	text-shadow: 0 1px 1px rgba(255, 255, 255, .35);
}
a.facebook:active {
	background: #304886;
	background: -webkit-gradient(linear, 0 0, 0 0, from(#304886), to(#4669ab));
	background: -webkit-linear-gradient(, #304886, #4669ab);
	background: -moz-linear-gradient(, #304886, #4669ab);
	background: -o-linear-gradient(, #304886, #4669ab);
	background: -ms-linear-gradient(, #304886, #4669ab);
	background: linear-gradient(, #304886, #4669ab);
}
a.forrst {
	background: #58853e;
	background: -webkit-gradient(linear, 0 0, 0 0, from(#58853e), to(#3c592a));
	background: -webkit-linear-gradient(, #58853e, #3c592a);
	background: -moz-linear-gradient(, #58853e, #3c592a);
	background: -o-linear-gradient(, #58853e, #3c592a);
	background: -ms-linear-gradient(, #58853e, #3c592a);
	background: linear-gradient(, #58853e, #3c592a);
	border-top: 1px solid #99b489;
	color: rgba(22, 33, 16, 1);
}
a.forrst:active {
	background: #3c592a;
	background: -webkit-gradient(linear, 0 0, 0 0, from(#3c592a), to(#58853e));
	background: -webkit-linear-gradient(, #3c592a, #58853e);
	background: -moz-linear-gradient(, #3c592a, #58853e);
	background: -o-linear-gradient(, #3c592a, #58853e);
	background: -ms-linear-gradient(, #3c592a, #58853e);
	background: linear-gradient(, #3c592a, #58853e);
}
a.designmoo {
	background: #eb5a5f;
	background: -webkit-gradient(linear, 0 0, 0 0, from(#eb5a5f), to(#e13c41));
	background: -webkit-linear-gradient(, #eb5a5f, #e13c41);
	background: -moz-linear-gradient(, #eb5a5f, #e13c41);
	background: -o-linear-gradient(, #eb5a5f, #e13c41);
	background: -ms-linear-gradient(, #eb5a5f, #e13c41);
	background: linear-gradient(, #eb5a5f, #e13c41);
	border-top: 1px solid #f39a9e;
	color: rgba(69, 22, 24, 1);
}
a.designmoo:active {
	background: #e13c41;
	background: -webkit-gradient(linear, 0 0, 0 0, from(#e13c41), to(#eb5a5f));
	background: -webkit-linear-gradient(, #e13c41, #eb5a5f);
	background: -moz-linear-gradient(, #e13c41, #eb5a5f);
	background: -o-linear-gradient(, #e13c41, #eb5a5f);
	background: -ms-linear-gradient(, #e13c41, #eb5a5f);
	background: linear-gradient(, #e13c41, #eb5a5f);
}
a.flickr {
	background: #ea66ac;
	background: -webkit-gradient(linear, 0 0, 0 0, from(#ea66ac), to(#da3868));
	background: -webkit-linear-gradient(, #ea66ac, #da3868);
	background: -moz-linear-gradient(, #ea66ac, #da3868);
	background: -o-linear-gradient(, #ea66ac, #da3868);
	background: -ms-linear-gradient(, #ea66ac, #da3868);
	background: linear-gradient(, #ea66ac, #da3868);
	border-top: 1px solid #f3a2cd;
	color: rgba(74, 4, 32, 1);
}
a.flickr:active {
	background: #da3868;
	background: -webkit-gradient(linear, 0 0, 0 0, from(#da3868), to(#ea66ac));
	background: -webkit-linear-gradient(, #da3868, #ea66ac);
	background: -moz-linear-gradient(, #da3868, #ea66ac);
	background: -o-linear-gradient(, #da3868, #ea66ac);
	background: -ms-linear-gradient(, #da3868, #ea66ac);
	background: linear-gradient(, #da3868, #ea66ac);
}
.icons {
	background: url(../images/social.png) no-repeat;
	bottom: 5px;
	display: block;
	height: 26px;
	position: absolute;
	right: 10px;
	width: 25px;
}
.icons.dribbble {
	background-position: 0 0;
}
.icons.twitter {
	background-position: -25px 0;
}
.icons.facebook {
	background-position: -50px 0;
}
.icons.forrst {
	background-position: -75px 0;
}
.icons.designmoo {
	background-position: -100px 0;
}
.icons.flickr {
	background-position: -125px 0;
}
footer p {
	font-size: 14px;
	margin-right: 5px;
}
footer {
	clear: both;
	height: auto;
	padding-bottom: 2px;
}