#slider-wrapper {
border-bottom:1px solid #E7E7E7;
height:400px;
overflow:hidden;
position:relative;
}
.nivoSlider {
height:343px;
margin:0 auto;
position:relative;
width:867px;
}
.nivoSlider img {
left:0;
position:absolute;
top:0;
}
.nivo-slice {
display:block;
height:100%;
position:absolute;
z-index:50;
}
.nivo-box {
display:block;
position:absolute;
z-index:5;
}
.nivo-caption {
background-color:rgba(194, 64, 80, 0.8);
position:absolute;
top:267px;
width:100%;
z-index:90;
}
.nivo-caption h5 {
color:#FFF;
font-size:30px;
font-weight:400;
line-height:1.2em;
margin:0;
padding:0 0 2px;
}
.nivo-caption > p {
margin:0;
padding:10px;
}
.nivo-caption p p {
color:#fff;
font-size:12px;
line-height:16px;
margin:0;
}
.nivo-html-caption {
display:none;
}
.nivo-controlNav {
bottom:-30px;
height:14px;
left:0;
position:absolute;
text-align:center;
width:867px;
}
.nivo-controlNav a {
background:#e3e3e3;
border-radius:8px;
cursor:pointer;
display:inline-block !important;
font-size:0;
height:14px;
line-height:0;
margin:0 2px 0 1px;
overflow:hidden;
position:relative;
text-decoration:none;
vertical-align:top;
width:14px;
z-index:99;
}
.nivo-controlNav a:hover,.nivo-controlNav a.active {
background:#c24050;
color:#c24050;
}